<div class="container spacer">
<div class="card" style="width:300px">
  <img class="card-img-top"  height="280px" src="https://scontent-mad.xx.fbcdn.net/v/t1.0-9/20376187_1543889508966566_3444530396433938952_n.jpg?oh=fb5a0c159e3a62144a4e9cb3145cab6e&oe=5B2305D4" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{Infos.nom}}</h4>
    <p class="card-text">{{Infos.position}}</p>
    <h5>email : <span class="badge badge-secondary">{{Infos.email}}</span></h5>
    <h5>mobile : <span class="badge badge-secondary">0 634 302 482</span></h5>

  </div>
</div>
</div>
